body{
background-color:brown;
}
p{color:white;
font-size:20px;
}
.first{background-color:yellow;
border-radius:30px;
text-align:center;
color:blue;
border:3px solid white;
padding:15px;
}
h2{
background-color:brown;
}
img{
	width:100px;
	height:120px;
	border-radius:20px;
	border:2px;
}
#picture{
	width:120px;
	height:10s0px;
	border:3px solid orange;
	background-size:100%;
}
#hovers {
	width:200px;
	height:200px;
	border:2px solid black;
}
#hovers:hover{
	background-color:red;
	border:2px solid white;
}
	

	
	
 

 
